$corDoFooter: #0e0b14;
$corDeFundo: #1a1d29;
$buttonOneBgColor: #FFFFFF;
$corTextBig: #FFFFFF;
$corText: #FFFFFF;
$colorTextUnfocus: #cacaca;
$containerPadding: 58px;
$buttonTowBgColor: #4c484c;
$colorBorderButton: #FFFFFF;
$colorLinksFooter: #F9F9F9;

